# Ignore node_modules except those in the root
node_modules/
!node_modules/react-scripts/

# Ignore development files
*.log
*.test.js
*.test.ts
*.test.tsx
*.md

# Ignore Docker-related files
.dockerignore
Dockerfile

# Ignore editor-related files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Ignore other unnecessary files
Thumbs.db
.DS_Store